{
  "policies": [
    {
      "id": "d84071d7-7916-4b26-9381-00860702f116",
      "label": "ABC-TEST-CT-1",
      "description": "",
      "policy_type_name": "batch",
      "attributes": {
        "subpolicies": [
          "51232231-f300-43ca-b324-7c5a752e5d52"
        ]
      },
      "visible": true,
      "user_data": "{\"isSausage\":true,\"positions\":{\"12d26fd9-0d53-4923-9127-32219aef3d34\":[290,80,1]}}",
      "tags": []
    },
    {
      "id": "12d26fd9-0d53-4923-9127-32219aef3d34",
      "label": "Virtual Network (Single)",
      "description": "Add a single VLAN to interfaces, as tagged or untagged.",
      "policy_type_name": "AttachSingleVLAN",
      "attributes": {
        "vn_node_id": "apt4WxRK6jvddoVtUmM",
        "tag_type": "vlan_tagged"
      },
      "visible": false
    },
    {
      "id": "51232231-f300-43ca-b324-7c5a752e5d52",
      "label": "Virtual Network (Single) (pipeline)",
      "description": "Add a single VLAN to interfaces, as tagged or untagged.",
      "policy_type_name": "pipeline",
      "attributes": {
        "first_subpolicy": "12d26fd9-0d53-4923-9127-32219aef3d34",
        "second_subpolicy": null
      },
      "visible": false
    }
  ]
}
